<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style type="text/css">
        .row {
            margin-left: 0;
            margin-right: 0;
        }
        .col-xs-12 {
            padding: 0 5px;
        }
    </style>
</head>
<body>
  <br>
  <div>
    <div class="row">
      <div class="col-sm-7 hidden-xs">
        <h3>
          Previous Interactions 
          <a href="#" onclick="return false;"><i class="fa fa-plus-square pull-right" aria-hidden="true" id="newNote"></i></a>
        </h3>
        <hr/>
        
        <div id="newInteraction" style="display: none;">
          <h3>New Interaction</h3>
          <form class="form-horizontal">
            <div class="form-group">
              <div class="col-sm-12">
                <input type="text" class="form-control" rows="3" id="newNoteSubject" value="{{request.message_social_network_type}} message with {{request.message_sentiment}} sentiment"/>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <textarea class="form-control" rows="3" id="newNoteText"></textarea>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" onclick="return false;" id="saveNote" class="btn btn-default pull-right">Save Note</button>
              </div>
            </div>
          </form>
        </div>
        
        <div class="list-group" id="interactions">
          {% for interaction in person.interactions %}
          <a href="#collapse{{loop.index}}" data-toggle="collapse" data-parent="#interactions" class="list-group-item">
            <h4 class="list-group-item-heading">{{ interaction.subject |striptags[:30] ~ '...' }}</h4>
            <p class="list-group-item-text">{% if interaction.from.name %}{{ interaction.from.name }} @ {% endif %}{{interaction.createdDateTime | date("Y/m/d")}}</p>
            <div id="collapse{{loop.index}}" class="panel-collapse collapse" >
              <div class="panel-body">
                <pre>{{ interaction.note | striptags | raw }}</pre>
              </div>
            </div>
          </a>
          {% endfor %}
        </div>
      </div>
      <div class="col-sm-5 col-xs-12">
        <div class="media">
          <div class="media-left">
            <a href="#">
              <i class="fa fa-3x fa-user"></i>
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">{{ person.firstName }} {{ person.lastName }}</h4>
            {{ person.title }}
          </div>
        </div>
        <hr/>
        
        <ul class="list-group">
          {% if person.phone %}
          <li class="list-group-item">
            <span class="badge">{{ person.phone }}</span>
            <i class="fa fa-phone" aria-hidden="true"></i>  
            Phone
          </li>
          {% endif %}
          {% if person.mobile %}
          <li class="list-group-item">
            <span class="badge"> {{ person.mobile }}</span>
            <i class="fa fa-mobile" aria-hidden="true"></i>  
            Mobile
          </li>
          {% endif %}
          <li class="list-group-item">
            <span class="badge">{{ person.client.inceptionDate | date("Y/m/d")}}</span>
            <i class="fa fa-clock-o" aria-hidden="true"></i>  
            Start Date
          </li>
          <li class="list-group-item">
            <span class="badge">{{person.client.active}}</span>
            <i class="fa fa-flag" aria-hidden="true"></i> 
            Status
          </li>
          <li class="list-group-item">
            <span class="badge">{{ person.client.successScore}}</span>
            <i class="fa fa-star" aria-hidden="true"></i> 
            Success Score
          </li>
        </ul>
        
        <div class="media">
          <div class="media-left">
            <a href="https://app.clientsuccess.com/cs/success/{{person.client.id}}">
              <i class="fa fa-3x fa-building-o"></i>
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">{{ person.client.name }} </h4>
            {{person.client.clientSegment}}
          </div>
        </div>
        
        <hr/>

        <ul class="list-group">
          {% for field in person.client.customFieldValues %}
          <li class="list-group-item"><span class="badge">{{ field.value }}</span> {{ field.label }}</li>
          {% endfor %}
        </ul>
        
        <h4>Subscriptions</h4>
        <hr/>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <td>Start date</td>
              <td>Amount</td>
              <td>Probability</td>
              <td>End Date</td>
            </thead>
            <tr>
              {% for subscription in person.subscriptions %}
              <tr>
                <td>{{ subscription.startDate | date("Y/m/d")}}</td>
                <td>£{{ subscription.amount }}</td>
                <td>{{ subscription.potentialProbability }}</td>
                <td>{{ subscription.potentialEndDate | date("Y/m/d")}}</td>
              </tr>
              {% endfor %}
          </table>
        </div>
        <h4>Todos</h4>
        <hr/>
        <ul class="list-group">
        {% for todo in person.todos %}
          <li class="list-group-item">
            {% if todo.completed %}  
              <i class="fa fa-check-square-o" aria-hidden="true"></i> 
            {%else %}
              <i class="fa fa-square-o" aria-hidden="true"></i> 
            {% endif %}
            {{ todo.name | raw }} </li>
        {% endfor %}
        </ul>
        
      </div>
    </div>
  </div>
        
  <script type="text/javascript">
    $('#newNote').click(function() {
      $('#newInteraction').toggle();
      $('#interactions').toggle();
    });
    
    $('#saveNote').click(function() {
      $.post( "/interaction?{{query}}", { 
          note: $('#newNoteText').val() + '<br/><br/><a href="{{request.message_socialsignin_url|raw}}" target="_blank">View Message</a>', 
          subject: $('#newNoteSubject').val(),
          person_id: {{person.id}}, 
          client_id: {{person.client.id}}
        }, function( data ) {
        console.log(data);
        $('#newInteraction').toggle();
        $('#interactions').toggle();
      });
    });
  </script>
</body>
</html>
